.map {
    height: 790px;
    width: 70%;
  }
  
  @media (max-width: 1179px) {
    .map {
      width: 60%;
    }
  }
  
  @media (max-width: 838px) {
    .map {
      width: 100%;
      height: 600px;
    }
  }
  